# Python
__pycache__/
*.pyc
.venv/
.env

# Local data & models
data/
models/*.pt

# Outputs
*.mp4
*.csv
*.json

# Editors/OS
.DS_Store
.idea/
.vscode/

echo !data/.gitkeep>> .gitignore
echo !models/.gitkeep>> .gitignore
