# Frontend
streamlit
requests
plotly
pandas
numpy

# Backend API
fastapi
uvicorn[standard]
python-multipart  # required for file uploads (multipart/form-data)

# CV/ML
opencv-python-headless
ultralytics
torch
torchvision

# (Optional) Task queue
celery
redis
